myapp_local.yml
*#*
etc/theschwartz.sqlt
etc/views.sqlt
MANIFEST
root/static/img/title
etc/sql
etc/.mysql.cnf
tmp/
META.yml
.svn
.cvs
inc/
pm_to_blib
blib/
Makefile
.DS_Store
*~
*#
MANIFEST.bak
Makefile.old

lib/TheSchwartz/
lib/deploy.pl
